$bg-color: #F8F8F8;
$basic-color: #fff;
$text-color: #333;
$info-color: #ABABAB;
$link-color: #8EA7FF;
$heart-color: #FF6767;
$btn-color: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 100%);

$logo-font: 20px/28px 'Roboto-Bold';
$h1-font: 32px/44px 'Roboto-Bold';
$h2-font: 24px/44px 'Roboto-Medium';
$text-font: 18px/26px 'Roboto-Regular';
$category-font: 12px/12px 'Roboto-Medium';
$placeholder-font: 16px/22px 'Roboto-Regular';
$btn-font: 16px/22px 'Roboto-Bold';
$link-font: 10px/14px 'Roboto-Medium';
$info-font: 10px/14px 'Roboto-Regular';
$fav-title-font: 20px/28px 'Roboto-Medium';
$fav-text-font: 14px/20px 'Roboto-Regular';